<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>CV Gabino Jiménez Sánchez</title>
  <meta content="" name="Desarrollo de software a la medida, Consultoria y Formación empresarial.">
  <meta content="" name="Software developer, Ux designer, Ui designer, DBA, Proyect manager">
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Satisfy" rel="stylesheet">

  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet" />
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="assets/vendor/sweet-alert/sweet-alert.min.css" rel="stylesheet" />

</head>

<body>
    <!-- ======= Hero Section ======= -->
    <section id="hero">
        <div class="hero-container">
            <h1>Gabino Jiménez</h1>
            <p>"<span class="typed" data-typed-items="UI/UX Designer, Software developer, Business training, Proyect manager"></span>"</p>

            <div class="social-links mt-3 text-center">
                <a target="_blank" href="https://twitter.com/GabinoJs" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a target="_blank" href="https://www.facebook.com/gabinoJS" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a target="_blank" href="https://www.linkedin.com/in/gabinojs01/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
            <a href="#about" class="btn-scroll scrollto" title="Scroll Down"><i class="bx bx-chevron-down"></i></a>


           
        </div>
        
    </section><!-- End Hero -->
  <!-- ======= Header ======= -->
  <!-- End Header -->

    <header id="header" class="fixed-top  d-flex justify-content-center align-items-center header-transparent">

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="active"><a href="index.html"><i class="bx bx-home"></i> <span>Principal</span></a></li>
                <li><a href="index.html#about"> <span>Conóceme</span></a></li>
                <li><a href="MisHerramientas.html"> <span>Mis herramientas</span></a></li>
                <li><a href="formacionAcademica.html"> <span>Formación académica</span></a></li>
                <li><a href="desarrolloProfesional.html"> <span>Desarrollo profesional</span></a></li>
                <li><a href="experienciaLaboral.html"> <span>Experiencia profesional</span></a></li>
                <li><a href="index.html#portfolio"> Portfolio</a></li>
                <li><a href="index.html#contact"> Contáctame</a></li>

            </ul>
        </nav><!-- .nav-menu -->

    </header>

  <main id="main">

    <!-- ======= About Me Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <span>Conóceme</span>
          <h2>Conóceme</h2>
  
        </div>

        <div class="row">
          <div class="image col-lg-4 d-flex align-items-stretch justify-content-center justify-content-lg-start"></div>
          <div class="col-lg-8 d-flex flex-column align-items-stretch">
            <div class="content pl-lg-4 d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-lg-12">
                    

                  <ul class="col-lg-6" >
                    <li><i class="icofont-rounded-right"></i> <strong>Nombre:</strong> Gabino Jiménez Sánchez</li>
                    <li><i class="icofont-rounded-right"></i> <strong>F. nacimiento:</strong> 25 de octubre de 1985</li>
                    <li><i class="icofont-rounded-right"></i> <strong>Ciudad:</strong> Toluca de Lerdo, Edo. México.</li>
                      <li><i class="icofont-rounded-right"></i> <strong>Email:</strong> gabino.jimenez@outlook.com</li>
                  </ul>
                    <p><b>Perfil </b></p><br />
                    <p>
                        Apacionado programador .NET, con 10 años de trayectoria profesional en el área de
                        Tecnología y Software. Experto estratégico en la gestión de proyectos
                        tecnológicos de alta complejidad, coordinando todas las fases del
                        proyecto, aportando una visión global de la tecnología y sólidos
                        conocimientos técnicos. 
                    </p>
                    <p>Amplia experiencia en el liderazgo de equipos de
                        trabajo multidisciplinarios. Profesional con sólidos conocimientos de
                        metodologías de desarrollo de software como Scrum y productos
                        tecnológicos.</p>
                </div>
              </div>
              
            </div><!-- End .content-->

            

          </div>
        </div>

      </div>
    </section>

    <!-- ======= My Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <span>Mis servicios</span>
          <h2>Mis servicios</h2>
        
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4 class="title"><a href="">Páginas Web</a></h4>
              <p class="description">Cada vez está más claro que todos los negocios necesitan estar en el Internet para que sus clientes los encuentren.
                 Páginas web desde $50 pesos/mes. Solicita una cotización! Es GRATIS!</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="">Aplicaciones moviles</a></h4>
              <p class="description">76% de los usuarios de teléfonos móviles compran a través de sus dispositivos móviles,
                 crear tu app y disfruta de las ventajas del comercio electrónico. Solicita una cotización! Es GRATIS! </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4 class="title"><a href="">Desarrollo de software a la medida</a></h4>
              <p class="description">El desarrollo web a la medida es una alternativa para los negocios que buscan 
                una solución para resolver una necesidad que las plataformas existentes no satisfacen.  Solicita una cotización! Es GRATIS!.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4 class="title"><a href="">Comercio electrónico</a></h4>
              <p class="description">Ten tu negocio en donde todos tus clientes puedan verlo y sobre todo, encontrar tus productos. 
                Decídete a vender en internet y déjanos ayudarte a construir el espacio digital adecuado a tus necesidades. Solicita una cotización! Es GRATIS! </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End My Services Section -->


    <!-- ======= My Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title">
          <span>Mi portafolio</span>
          <h2>Mi portafolio</h2>
          <p>Estos son algunos de mis proyectos</p>
        </div>

        <ul id="portfolio-flters" class="d-flex justify-content-center">
          <li data-filter="*" class="filter-active">Todos</li>
          <li data-filter=".filter-app">Aplicaciones</li>
          <li data-filter=".filter-web">Paginas web</li>
        </ul>

        <div class="row portfolio-container">

          

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-img"><img src="assets/img/portfolio/web1.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
         
              <a href="assets/img/portfolio/web1.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>

            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="assets/img/portfolio/slide2.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
      
              <a href="assets/img/portfolio/slide2.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="App 2"><i class="bx bx-plus"></i></a>

            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="assets/img/portfolio/slide1.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">

              <a href="assets/img/portfolio/slide1.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="app 2"><i class="bx bx-plus"></i></a>
 
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-img"><img src="assets/img/portfolio/web2.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
   
              <a href="assets/img/portfolio/web2.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
    
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="assets/img/portfolio/slide3.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <a href="assets/img/portfolio/slide3.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
            </div>
          </div>

       

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-img"><img src="assets/img/portfolio/web3.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
             
              <a href="assets/img/portfolio/web3.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
    
            </div>
          </div>

        </div>

      </div>
    </section><!-- End My Portfolio Section -->


    <!-- ======= Contact Me Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <span>Contáctame</span>
          <h2>Contáctame</h2>
          <p>Si tienes dudas, preguntas o solo quieres saber mas de mí.</p>
        </div>
        <div class="row">
          <div class="col-lg-6">

            <div class="row">
              <div class="col-md-12">
                <div class="info-box">
                  <i class="bx bx-share-alt"></i>
                  <h3>Mis redes sociales</h3>
                  <div class="social-links">
                      <a target="_blank" href="https://twitter.com/GabinoJimnezSa1" class="twitter"><i class="bx bxl-twitter"></i></a>
                      <a target="_blank" href="https://www.facebook.com/gabinoJS" class="facebook"><i class="bx bxl-facebook"></i></a>
                      <a target="_blank" href="https://www.linkedin.com/in/gabinojs01/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-envelope"></i>
                  <h3>Mi correo electrónico</h3>
                  <p><a href="mailto:gabino.jimenez@outlook.com">gabino.jimenez@outlook.com</a> </p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bxl-whatsapp"></i>
                  <h3>Envíame mensaje</h3>
                  <a href="https://wa.me/5217224947049?text=¡Hola! ¿Me podrías brindar información sobre las soluciones de servicios de software que ofrece?"> Whatsaap</a>
                </div>
              </div>
            </div>

          </div>
          <div class="col-lg-6 php-email-form" id="app" >
              <div class="form-row">
                <div class="col-md-6 form-group">
                    <input class="form-control"id="txbNombre" type="text" v-model="from_name" placeholder="Nombre" required />
           
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Correo electrónico" required />
             
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto" v-model="subject" />
      
              </div>
              <div class="form-group">
                <textarea class="form-control"id="txbMensaje" name="message" rows="6"  v-model="message" placeholder="Mensaje"></textarea>
                <div class="validate"></div>
              </div>
              
              <div class="text-center"><button @click="enviar" >Enviar</button></div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer id="footer">
    <div class="container">
      <h3>Gabino Jiménez Sánchez</h3>
        <br />
      <H1>"Hágase el código"
           </H1><h5><small> (Código limpio - Robert C. Martin, 2009, p.29  )</small>  </h5><br /><br />
      <div class="social-links">
        <a target="_blank" href="https://twitter.com/GabinoJs" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a target="_blank" href="https://www.facebook.com/gabinoJS" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a target="_blank" href="https://www.linkedin.com/in/gabinojs01/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
     
          </div>
     
    </div>
  </footer>

    
  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/counterup/counterup.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/typed.js/typed.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/js/main.js"></script>
  <script src="assets/vendor/sweet-alert/sweet-alert.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js">
  </script>
  <script src="https://cdn.emailjs.com/dist/email.min.js" type="text/javascript">
  </script>
   <script>
            (function(){
                emailjs.init("user_ulgTAoEi8esQMjAw7Alg1");
             })();
            const vue = new Vue({
                el: '#app',
                data(){
                    return {
                        from_name: '',
                        from_email: '',
                        message: '',
                        subject: '',
                    }
                },
                methods: {
                    enviar() {

                        var nombre = document.getElementById("txbNombre").value;
                        var correo = document.getElementById("email").value;
                       var mensaje = document.getElementById("txbMensaje").value;

                        if (nombre.length == 0) {
                            swal("Upss!", "el nombre es campo requerido!", "warning")
                        }
                        else {
                            if (correo.length == 0) {
                            
                                swal("Upss!", "el correo electrónico es campo requerido!", "warning")
                            }
                            else {
                                if (mensaje.length == 0) {
                                    swal("Upss!", "el mensaje es campo requerido!", "warning")
                                }
                                else {
                                    let data = {
                                        from_name: this.from_name,
                                        from_email: this.from_email,
                                        message: this.message,
                                        subject: this.subject,
                                    };
                                    emailjs.send("6481251085", "template_hwp213r", data)
                                    .then(function (response) {
                                        if (response.text === 'OK') {
                                            document.getElementById("txbNombre").value="";
                                            document.getElementById("email").value="";
                                            document.getElementById("txbMensaje").value = "";
                                            document.getElementById("subject").value = "";
                                            swal("Bien!", "El correo se ha enviado de forma exitosa!", "success")
                                        }
                                        console.log("SUCCESS. status=%d, text=%s", response.status, response.text);
                                    }, function (err) {
                                        swal("Upss!", "Ocurrió un problema al enviar el correo!", "danger")
                                        console.log("FAILED. error=", err);
                                    });
                                }
                            }
                        }
                    }
                }
            });
    </script>

</body>

</html>
